[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
black = "*"
pytest = "*"
pytest-django = "*"
drf-spectacular = "*"
django-environ = "*"
django-cors-headers = "*"
gunicorn = "*"
tzdata = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
